body
  background: #f5f0ff
.topbanner
  width: 100%
  height: 100%
  display: block
  object-fit: cover
  object-position: 50% 50%
  transform:  rotate(-180deg)  
#container-main-photo
  img
    width: 90%