.couple-audio
  padding: 0.5rem 0
  margin: 8px auto
  background-color: $color-primary-soft
  p
    font-size: 0.9rem
    padding: 12px
  audio
    width: 80%
    background: transparent
    display: none
.couple-wrapper
  text-align: center
  .couple-names 
    color: $color-primary
    text-align: center
    padding: 32px 0px
    p
      color: $color-primary
      padding: 0px 0px 16px
      &.--y
        font-size: 1rem
        padding: 8px
        margin: 0
    h1
      font-family: 'NovaQuinta'
      font-size: 2.8rem
      font-style: italic
      line-height: 4rem
      margin: 0
      padding: 0
  
  .couple-verse
    width: 80%
    text-align: center
    margin: 0 auto
    p 
      text-align: center
  .couple-chapter
    padding: 0
    p
      color: $color-primary
      font-weight: bold
      font-size: 0.8rem
  img
    width: 70%

  
.parents-wrapper
  background: #fffcf0
  .couple-info
    padding: 0
    text-align: center
  .parents--name 
    margin: 15px 0
    b
      color: $color-primary
      font-family: 'DancingScriptMedium'
      font-size: 30px

.gifts-wrapper
  background: #fffcf0
  .couple-gift
    padding: 0
    text-align: center
    h3
      color: $color-primary
      font-family: 'DancingScriptMedium'
      font-size: 45px
  .account--group
    margin: 15px 0
    b
      color: $color-primary
      font-family: 'DancingScriptMedium'
      font-size: 26px