.nochildren-wrapper
  background: $color-yellow-light
  .nochildren-message
    padding: 0
    text-align: center
    h3
      color: $color-primary
      font-family: 'DancingScriptMedium'
      font-size: 45px
    p
      padding: 0
      margin: 0
      font-size: 1.2rem
      color: $color-grey-dark
      text-align: center