@font-face {
  font-family: 'HearthStone';
  src: url(../fonts/terracota/HearthStone.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTCom-LtCn';
  src: url(../fonts/HelveticaNeueLTCom-LtCn.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTCom-MdCn';
  src: url(../fonts/HelveticaNeueLTCom-MdCn.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'ghost';
	src: url(../fonts/GHOST-TOWN.ttf);
	font-weight: normal;
	font-style: normal;
}
