.attendance
    background-color: transparent
    .attendance__top
        align-items: center
        background-size: contain
        background: url('../img/terracota/bgtop_attendance.svg') no-repeat
        flex-direction: column
        height: 363px
        display: flex
        justify-content: flex-end
        padding-bottom: 85px
        p
            font-family: HearthStone
            font-size: 36px
            color: $color-primary
            line-height: 152.8%
            margin: 0
            padding: 0
    .attendance__message
        width: 286px
        margin: 0 auto
        text-align: center
        p
            font-family: HelveticaNeueLTCom-LtCn
            font-size: 20px
            color: $color-grey-text
    .attendance__thanks
        display: flex
        justify-content: center
        p
            font-family: HearthStone
            font-size: 36px
            color: $color-primary
            margin-top: 30px
