.attendance
  background-color: transparent
  &__top
    align-items: center
    background: url('../img/terracota/topbg_attendance.svg') no-repeat
    background-size: contain
    background-position: center
    flex-direction: column
    height: 451px
    display: flex
    justify-content: flex-end
    padding-bottom: 87px
    h2
      line-height: 152.8%
      width: 205px
  &__contact
    display: flex
    flex-direction: column
    gap: 40px
    margin-top: -45px
    .contact__container
      align-items: flex-end
      display: flex
      height: 171px
      justify-content: center
      &--bride
        background: url('../img/terracota/bride.svg') no-repeat
        background-position: center
      &--fiance
        background: url('../img/terracota/fiance.svg') no-repeat
        background-position: center 14px
  &__message
    width: 286px
    margin: 80px auto 0 auto
    text-align: center
  &__thanks
    display: flex
    justify-content: center
    h2
      margin-top: 30px

