.button
  font-size: 20px
  font-family: 'HelveticaNeueLTCom-LtCn'
  padding: 10px 0
  min-width: 274px
  background: linear-gradient(175deg, rgba(255,199,128,1) 0%, rgba(217,158,59,1) 87%)
  color: $color-white
  border: 0px
  border-radius: 5px
  display: flex
  margin: 0 auto
  justify-content: center
  gap: 8px
  &__calendar
    width: 26px
    height: 26px
    display: block
    background: url('../img/terracota/icon_calendar.svg') no-repeat
