.modal
  display: none
  position: fixed
  width: 100%
  height: 100%
  top: 0
  z-index: 9
  flex-direction: column
  align-items: center
  background-color: $color-white
  &__container
    width: 100%
    height: 100%
    @include xs()
      width: 600px
  &.active
    display: flex !important
  &__header
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    width: 100%
    height: 22%
    padding: 0 4%
    gap: 12px
    a
      position: absolute
      font-size: 25px
      top: 20px
      right: 20px
  &__close
    color: #8f8e8d
    i:hover
      color: $color-grey-text
  &__body
    display: flex
    flex-direction: column
    position: relative
    width: 100%
    height: 78%
  &__list
    display: flex
    flex-direction: column
    height: 87%
    padding: 0 4%
    overflow: auto
    ul
      list-style: none
      padding: 0
      margin: 0
      display: flex
      flex-direction: column
      gap: 6px
      li
        display: flex
        justify-content: space-between
        align-items: center
        height: 56px
        border: solid 1px $color-primary
        padding: 0 4%
  &__btns
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between
    bottom: 0
    z-index: 2
    flex-wrap: nowrap
    gap: 40px
    padding: 4%
    align-items: center
    @include xs()
      height: 12%
    &--formodal
      width: 100%
      min-width: auto
      padding: 3% 4%
    &--formodalgrey
      border: solid 1px #B3B3B3
      background: none !important
      color: $color-grey-text

