.nochildren
  display: flex
  flex-direction: column
  align-items: center
  &__top
    display: flex
    align-items: center
    flex-direction: column
    justify-content: flex-end
    h2
      font-family: HearthStone
      font-size: 36px
      color: $color-primary
      line-height: 152.8%
      padding: 0
    &--titlewithspace
      margin: -12px 0 0 40px
  &__img
    margin: 30px 0
  &__text
    text-align: center
    margin: 0 0 70px 0
    width: 287px
    p
      font-family: HelveticaNeueLTCom-LtCn
      font-size: 20px
      color: $color-grey-text

