.profile
  overflow: hidden
  img.profile__image
    width: 100%
  &__top
    position: relative
    img
      position: absolute
      width: 100%
    &--background
      left: -84px
      top: -21px
      width: 140% !important
  &__seal
    display: flex
    flex-direction: column
    align-items: start
    justify-content: center
    position: relative
    margin-top: -140px
    background: url('../img/terracota/seal-below.svg') no-repeat center
    background-position: center 82px
    background-size: 100% auto
    h1
      color: $color-grey-text
      font-family: 'HearthStone'
      font-size: 32px
    p
      text-align: center
      width: 70%
      margin: 0 auto
      color: $color-grey-text
      font-family: 'HelveticaNeueLTCom-LtCn'
      padding-top: 60px
    &--gold
      font-family: 'HelveticaNeueLTCom-MdCn'
      color: $color-primary !important
      font-weight: bold
      padding-top: 30px !important
  &__name
    background: url('../img/terracota/seal.svg') no-repeat center
    height: 323px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    align-content: center
    flex-direction: column
    padding-top: 20px
    p
      font-size: 12px
      font-family: 'HelveticaNeueLTCom-LtCn'
      position: absolute
      top: 65px
      padding: 0



