.profile
  overflow: hidden
  img.profile__image
    width: 100%
  &__top
    position: relative
    img
      position: absolute
      width: 100%
    &--background
      left: -84px
      top: -21px
      width: 140% !important
  &__seal
    align-items: start
    background-position: center 82px
    background-size: 100% auto
    background: url('../img/terracota/seal-below.svg') no-repeat center
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: -170px
    position: relative
    p
      margin: 0 auto
      padding-top: 60px
      text-align: center
      width: 70%
    &--gold
      color: $color-primary !important
      padding-top: 30px !important
  &__name
    align-content: center
    align-items: center
    background: url('../img/terracota/seal.svg') no-repeat center
    display: flex
    flex-direction: column
    height: 323px
    justify-content: center
    padding-top: 20px
    width: 100%
    p
      font-size: 12px
      padding: 0
      position: absolute
      top: 65px



