.rosecard
  align-items: center
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 100%
  overflow: hidden
  position: relative
  padding-bottom: 60px
  margin: 0 0 24px 0
  h2
    position: absolute
    top: 80px
    z-index: 3
    line-height: 74px
  &__info
    align-items: center
    display: flex
    flex-direction: column
    justify-content: flex-start
    position: absolute
    z-index: 3
    bottom: 0
    p
      margin: 0
    button
      margin-top: 20px


.rosecard_multimedia
  align-items: center
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 100%
  overflow: hidden
  position: relative
  // max-width: 430px
  width: 430px
  height: 853px
  // background: red
  &__img_top
    position: absolute
    width: 100%
    z-index: 1
    top: 0
  &__embed
    position: absolute
    top: 399px
    video
      position: absolute
      top: 0
      left: 50%
      height: auto
      transform: translate(-50%, -50%)
      height: 440px
    img
      position: absolute
      top: 50%
      left: 50%
      height: auto
      transform: translate(-50%, -50%)
      width: 130%
  &__img_bottom
    position: absolute
    width: 100%
    z-index: 1
    bottom: 27px




