h1
  color: $color-grey-text
  font-family: $font-heading-1
  font-size: $size-heading-1
h2
  @include title()
h3
  @include subtitle()
h5
  color: $color-grey-text
  font-family: $font-body-secondary
  font-size: 20px
p
  color: $color-grey-text
  font-family: $font-body
  font-size: $size-body
  &.big
    font-size: $size-body-large
  &.secondary
    font-family: $font-body-secondary
  &.small
    font-size: $size-body-small
