// Brand!
$color-primary : #AE6836
// $color-primary-dark : #a798c1
// $color-primary-light : #FFFFFF
// $color-primary-soft : #FFFCF0

// $color-filter: invert(70%) sepia(6%) saturate(1350%) hue-rotate(220deg) brightness(89%) contrast(90%)
$color-filter: invert(28%) sepia(87%) saturate(431%) hue-rotate(330deg) brightness(93%) contrast(86%)


// Gray
$color-grey : #dadada
$color-grey-soft : #AAB7BC
$color-grey-light : #80878B
$color-grey-dark : #343434

// Gray
// $color-black : #dadada
// $color-black-soft : #AAB7BC
// $color-black-light : #80878B
$color-black-dark : #000

// white
$color-white : #FFFFFF
// $color-white-soft : #AAB7BC
// $color-white-light : #80878B
// $color-white-dark : #000

// Yellow
// $color-yellow : #FFFFFF
// $color-yellow-soft : #AAB7BC
$color-yellow-light : #fffcf0
// $color-yellow-dark : #000