// Brand!
$color-primary : #e10600
// $color-primary-dark : #2E006C
// $color-primary-light :  #5F5EAA
// $color-primary-soft : #D7BDFC


// Gray
$color-grey : #dadada
$color-grey-soft : #AAB7BC
$color-grey-light : #80878B
$color-grey-dark : #343434
$color-jk : #e10600
