@font-face {
  font-family: 'NovaQuinta';
  src: url(../fonts/NovaQuinta.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DancingScriptRegular';
  src: url(../fonts/DancingScriptRegular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DancingScriptMedium';
  src: url(../fonts/DancingScriptMedium.otf);
  font-weight: normal;
  font-style: normal;
}